
body{
	background: royalblue;
}
#myform{
	background: #EEEEEE;
	font-family: 'Roboto', sans-serif;
	top:60%;
	font-size: 7vw;
	/*width: 50%;*/
	margin-top:35%;
	/*position: absolute;*/
	padding: 2%;
	/*left: 13%;*/
	z-index: 1;
	display: none;
}
h1{
	font-family: 'Roboto', sans-serif;
	color:lightblue;
}
h3{
	font-size:6vw
	}

h4{
	float: right;
	position: relative;
	margin:20px;
	
}
h5{
	font-family: Arial;
	font-size: 1.7em;
	text-align: center;
	font-style: bold;
}
h6{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
#slogan{
	text-align: center;
	font-size: 4vw;
	position: relative;
	top:5%;
	color:lightblue;
	display: none;
}
#direccion{
	position: relative;
	color:lightblue;
	font-size: 2vw;
	top:-100%;
	display: none;
}
#telefono{
	position: relative;
	right: -10.6%;
	color:lightblue;
	font-size: 1.2vw;
	top:-85%;
	display: none;
}
#poblacion{
	position: relative;
	font-size: 3vw;
	right: 40%;
	color:lightblue;
	top:0%;
	display: none;
}
#logo{
	width: 100%;
	height: 15%;
	position: fixed;
	background: navy;
	z-index: 3;
	border-radius: 3%;
	top:0%;
}
#logoT{
	width: 40%;
	top:99%;
	height: 35%;
	position: absolute;
	z-index: 1;
	left: 1%;
	
	display: block;

}
#CuadroLogo{
	width: 100%;
	height: 100%;
	position: relative;
	z-index:0;
	left: 1%;
	top:5%;
	display: block;
}
#tituloExamen{
	top:7%;
	position: relative;
	text-align: center;
	font-size: 7vw;
}


/*body{
		width:70%;
		padding-left:15%;
		padding-right:15%
		}
/*body,input,select,label{
						font-size:2vw
					}*/


input[type=checkbox]{

					width:25%;

					zoom:2.5
				}

#datos{
	font-family: 'Roboto', sans-serif;
	color: navy;
	text-align: center;
	font-size: 2em;
}
#parrafo{
	text-align: center;
	position: relative;
	font-size: 1.1em;
	margin: 0%;
	padding: 0%;
}


input[type="radio"] {

	width: 15%;
	zoom:2.5;
	
}

label{
	width: 50%;
	font-size: 7vw;
	text-align: center;
}
input,select{width:80%;
			 font-size: 6vw;}
#demo-menu-lower-left {
  margin-left: 33%;
}

/*form.formulario{
	width: 100%;
	height: 100%;
}*/
#terminos{
	display: block;
}
.inputGroup{
	width: 90%;
	height: 90%;
	border:1% blue;
	font-size: 3vw;
	display: flex;
	flex-wrap: wrap;
	padding: 2% 6%;

	margin-bottom: 2%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}
.inputGroupcheckbox{
	font-size: 6vw;
	text-align: center;
	
	height: 50%;
	left: 20%;
	justify-content: space-between;
}
.inputGroupradio{
	font-size: 6vw;
	position: relative;
	margin: 2%;
	padding: 2% 6%;
	/*left: 30%;*/
	width: 90%;
	display: none;
	justify-content: space-between;
}

#contenedorFormulario{
	border-radius: 5%;
	
	width: 70%;
	height: 70%;
	position: relative;
	background: aliceblue;
	left: 5%;
	margin:4%;
	padding:5%;
	margin-top: 40%;
	font-size: 4vw;
	z-index: 2;
	display: none;
	font-family: 'Roboto', sans-serif;


}

#instrucciones{
	border-radius: 7%;
	border-color: black;
	width: 65%;
	
	position: relative;
	background: white;
	left: 5%;
	padding:10%;
	top: 29%;
	margin:2%;
	margin-top:35%; 
	z-index:2;
	display: block;
	font-family: 'Roboto', sans-serif;
}

#resultadosDiv {
	width: 70%;
	margin: 5%;
	background: lightsteelblue;
	
	margin-top:45%;
	margin-left: 15%;
	top:20;
	text-align: center;
	
	/*border-radius: 10% 10% 10% 10%;*/

}
p{
	text-align: center;
	position: relative;
	margin: 5%;
	padding: 5%;
	font-size: 5vw;
	font-family: 'Roboto', sans-serif; 
	color: green;
	

}
span{
	text-align: center;
	position: relative;
	margin-top-bottom:5%;
	padding: 5%;
	font-size: 5vw;
	font-family: 'Roboto', sans-serif; 
	color: red;
	
	

}

#registrar{
	background: lightgreen;
	text-align: center;
	color: white;
	width: 55%;
	height: 10%;
	left: -15%;
	position: relative;
	border: none;
	padding: 5%;
	margin:5%;
	border-radius: 10px;
}
/*#registrar:hover{
	background: green;
}*/
#comenzar{
	background: lightblue;
	color: white;
	width: 45%;
	height: 10%;
	border: none;
	padding: 5%;
	border-radius: 3%;
	left: 30%;
	position: relative;
}
#comenzar:hover{
	background: green;
}